@charset "utf-8";
/*
	grid.css
	전체너비 : 100%
	열의 갯수 : 12개
	열의 너비 : 5.4%
	열 사이 간격 : 3.2%
*/

.grid::after{content:''; display:block; clear:both;}
.grid [class*="col-"]{float:left; margin-right:3.2%;}

.grid .col-1{width:5.4%;}
.grid .col-2{width:14%;} /* +8.6% */
.grid .col-3{width:22.6%;} /* +8.6% */
.grid .col-4{width:31.2%;} /* +8.6% */
.grid .col-5{width:39.8%;} /* +8.6% */
.grid .col-6{width:48.4%;} /* +8.6% */
.grid .col-7{width:57%;} /* +8.6% */
.grid .col-8{width:65.6%;} /* +8.6% */
.grid .col-9{width:74.2%;} /* +8.6% */
.grid .col-10{width:82.8%;} /* +8.6% */
.grid .col-11{width:91.4%;} /* +8.6% */
.grid .col-12{width:100%;} /* +8.6% */

.grid .right{float:right; margin-right:0;}